body {
    padding: 10px;
}

.item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.item:nth-child(2n+1) {
    background-color: #f9f9f9;
}

.author {
    width: 100px;
    display: inline-block;
}

.date {
    margin-right: 10px;
}